
//   /$$$$$$                                               /$$              
//  |_  $$_/                                              | $$              
//    | $$   /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$$
//    | $$  | $$_  $$_  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$_____/
//    | $$  | $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    |  $$$$$$ 
//    | $$  | $$ | $$ | $$| $$  | $$| $$  | $$| $$        | $$ /$$ \____  $$
//   /$$$$$$| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/ /$$$$$$$/
//  |______/|__/ |__/ |__/| $$____/  \______/ |__/         \___/  |_______/ 
//                        | $$                                              
//                        | $$                                              
//                        |__/                                              

@import '../variables/variables-layout';
@import '../variables/variables-theme';






//   /$$$$$$$$         /$$                 /$$                    
//  |_____ $$         |__/                | $$                    
//       /$$/          /$$ /$$$$$$$   /$$$$$$$  /$$$$$$  /$$   /$$
//      /$$/   /$$$$$$| $$| $$__  $$ /$$__  $$ /$$__  $$|  $$ /$$/
//     /$$/   |______/| $$| $$  \ $$| $$  | $$| $$$$$$$$ \  $$$$/ 
//    /$$/            | $$| $$  | $$| $$  | $$| $$_____/  >$$  $$ 
//   /$$$$$$$$        | $$| $$  | $$|  $$$$$$$|  $$$$$$$ /$$/\  $$
//  |________/        |__/|__/  |__/ \_______/ \_______/|__/  \__/
//                                                                
//                                                                
//                                                                

/* Source: http://css-tricks.com/handling-z-index/ */

$zindex: (
	modal		: 9000,
	overlay		: 8000,
	dropdown	: 7000,
	header		: 6000,
	footer		: 5000
);






//   /$$      /$$                 /$$ /$$                  /$$$$$$  /$$                                       /$$    
//  | $$$    /$$$                | $$|__/                 /$$__  $$| $$                                      | $$    
//  | $$$$  /$$$$  /$$$$$$   /$$$$$$$ /$$  /$$$$$$       | $$  \ $$| $$$$$$$        /$$  /$$$$$$   /$$$$$$$ /$$$$$$  
//  | $$ $$/$$ $$ /$$__  $$ /$$__  $$| $$ |____  $$      | $$  | $$| $$__  $$      |__/ /$$__  $$ /$$_____/|_  $$_/  
//  | $$  $$$| $$| $$$$$$$$| $$  | $$| $$  /$$$$$$$      | $$  | $$| $$  \ $$       /$$| $$$$$$$$| $$        | $$    
//  | $$\  $ | $$| $$_____/| $$  | $$| $$ /$$__  $$      | $$  | $$| $$  | $$      | $$| $$_____/| $$        | $$ /$$
//  | $$ \/  | $$|  $$$$$$$|  $$$$$$$| $$|  $$$$$$$      |  $$$$$$/| $$$$$$$/      | $$|  $$$$$$$|  $$$$$$$  |  $$$$/
//  |__/     |__/ \_______/ \_______/|__/ \_______/       \______/ |_______/       | $$ \_______/ \_______/   \___/  
//                                                                            /$$  | $$                              
//                                                                           |  $$$$$$/                              
//                                                                            \______/                               

/* Sources 
	- http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
	- http://philipwalton.github.io/solved-by-flexbox/demos/media-object/
*/

%media-obj {
	> img {
		float: left;
		height: auto;
	}
}

%media-obj__rtl {
	> img {
		float: right;
		height: auto;
	}
}






//    /$$$$$$  /$$                                      /$$$$$$  /$$          
//   /$$__  $$| $$                                     /$$__  $$|__/          
//  | $$  \__/| $$  /$$$$$$   /$$$$$$   /$$$$$$       | $$  \__/ /$$ /$$   /$$
//  | $$      | $$ /$$__  $$ |____  $$ /$$__  $$      | $$$$    | $$|  $$ /$$/
//  | $$      | $$| $$$$$$$$  /$$$$$$$| $$  \__/      | $$_/    | $$ \  $$$$/ 
//  | $$    $$| $$| $$_____/ /$$__  $$| $$            | $$      | $$  >$$  $$ 
//  |  $$$$$$/| $$|  $$$$$$$|  $$$$$$$| $$            | $$      | $$ /$$/\  $$
//   \______/ |__/ \_______/ \_______/|__/            |__/      |__/|__/  \__/
//                                                                            
//                                                                            
//                                                                            

/* Sources: http://nicolasgallagher.com/micro-clearfix-hack/ */

%clear-fix::before,
%clear-fix::after {
	content: ""; 
	display: table;
}

%clear-fix::after {
	clear: both;
}






//   /$$$$$$$                                      /$$          
//  | $$__  $$                                    | $$          
//  | $$  \ $$  /$$$$$$$  /$$$$$$  /$$   /$$  /$$$$$$$  /$$$$$$ 
//  | $$$$$$$/ /$$_____/ /$$__  $$| $$  | $$ /$$__  $$ /$$__  $$
//  | $$____/ |  $$$$$$ | $$$$$$$$| $$  | $$| $$  | $$| $$  \ $$
//  | $$       \____  $$| $$_____/| $$  | $$| $$  | $$| $$  | $$
//  | $$       /$$$$$$$/|  $$$$$$$|  $$$$$$/|  $$$$$$$|  $$$$$$/
//  |__/      |_______/  \_______/ \______/  \_______/ \______/ 
//                                                              
//                                                              
//                                                              

//             /$$                                               /$$              
//            | $$                                              | $$              
//    /$$$$$$ | $$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$$
//   /$$__  $$| $$ /$$__  $$| $$_  $$_  $$ /$$__  $$| $$__  $$|_  $$_/   /$$_____/
//  | $$$$$$$$| $$| $$$$$$$$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  | $$    |  $$$$$$ 
//  | $$_____/| $$| $$_____/| $$ | $$ | $$| $$_____/| $$  | $$  | $$ /$$ \____  $$
//  |  $$$$$$$| $$|  $$$$$$$| $$ | $$ | $$|  $$$$$$$| $$  | $$  |  $$$$/ /$$$$$$$/
//   \_______/|__/ \_______/|__/ |__/ |__/ \_______/|__/  |__/   \___/  |_______/ 
//                                                                                
//                                                                                
//                                                                                

%pseudo-el::before,
%pseudo-el::after {
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
			box-sizing: inherit;
}






//   /$$$$$$$                                                      /$$     /$$                               /$$
//  | $$__  $$                                                    | $$    |__/                              | $$
//  | $$  \ $$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$  /$$$$$$  /$$$$$$$   /$$$$$$ | $$
//  | $$$$$$$/ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/  | $$ /$$__  $$| $$__  $$ |____  $$| $$
//  | $$____/ | $$  \__/| $$  \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    | $$| $$  \ $$| $$  \ $$  /$$$$$$$| $$
//  | $$      | $$      | $$  | $$| $$  | $$| $$  | $$| $$        | $$ /$$| $$| $$  | $$| $$  | $$ /$$__  $$| $$
//  | $$      | $$      |  $$$$$$/| $$$$$$$/|  $$$$$$/| $$        |  $$$$/| $$|  $$$$$$/| $$  | $$|  $$$$$$$| $$
//  |__/      |__/       \______/ | $$____/  \______/ |__/         \___/  |__/ \______/ |__/  |__/ \_______/|__/
//                                | $$                                                                          
//                                | $$                                                                          
//                                |__/                                                                          

//                         /$$     /$$          
//                        | $$    |__/          
//    /$$$$$$   /$$$$$$  /$$$$$$   /$$  /$$$$$$ 
//   /$$__  $$ |____  $$|_  $$_/  | $$ /$$__  $$
//  | $$  \__/  /$$$$$$$  | $$    | $$| $$  \ $$
//  | $$       /$$__  $$  | $$ /$$| $$| $$  | $$
//  | $$      |  $$$$$$$  |  $$$$/| $$|  $$$$$$/
//  |__/       \_______/   \___/  |__/ \______/ 
//                                              
//                                              
//                                              

/* Sources:
	- http://www.mademyday.de/css-height-equals-width-with-pure-css.html
	- http://alistapart.com/article/creating-intrinsic-ratios-for-video
*/

/*  Demo: http://codepen.io/dannygiolo/pen/awEjq */

%proportional-ratio {
	position: relative;
	/* width: 50%; desired width of .proportional-ratio__content */

	&::before {
		content: "";
		display: block;
	}

	%proportional-ratio__content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

%proportional-ratio__1-1::before {
	padding-top: 100%;
}






//    /$$$$$$                                 /$$                              
//   /$$__  $$                               | $$                              
//  | $$  \ $$ /$$    /$$  /$$$$$$   /$$$$$$ | $$  /$$$$$$  /$$   /$$  /$$$$$$$
//  | $$  | $$|  $$  /$$/ /$$__  $$ /$$__  $$| $$ |____  $$| $$  | $$ /$$_____/
//  | $$  | $$ \  $$/$$/ | $$$$$$$$| $$  \__/| $$  /$$$$$$$| $$  | $$|  $$$$$$ 
//  | $$  | $$  \  $$$/  | $$_____/| $$      | $$ /$$__  $$| $$  | $$ \____  $$
//  |  $$$$$$/   \  $/   |  $$$$$$$| $$      | $$|  $$$$$$$|  $$$$$$$ /$$$$$$$/
//   \______/     \_/     \_______/|__/      |__/ \_______/ \____  $$|_______/ 
//                                                          /$$  | $$          
//                                                         |  $$$$$$/          
//                                                          \______/           

%st-modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: map-get($zindex, mobile-overlay);

	> .st-modal-overlay--text {
		position: absolute;
		right: 0;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
				transform: translateY(-50%);

		padding: 10px;
		
		text-align: center;
	}
}