/*  =======================================================

		Table of content

			* Imports

			* Modals

	======================================================= */






/*  =======================================================

		Imports

	=======================================================  */

@import '../variables-layout';
@import '../variables-skin';






/*  ========================================================

		Modals

	=======================================================  */

/* to be reviewd 
.modal-win {
	position: fixed;
	width: 30em;
	height: 30em;
	top: -50%;
	left: 50%;
	margin: -15em 0 0 -15em;
	background-color: #fff;
	z-index: 10;
}
*/