/*  =======================================================
	
		Table of content

			* Imports

			* Modals
	  
	======================================================= */






/*  =======================================================

		Imports

	=======================================================  */

@import '../variables-layout';
@import '../variables-skin';






/*  ========================================================

      Modals

    =======================================================  */

/* to be reviewd 
.modal-win {
	position: fixed;
	width: 30em;
	height: 30em;
	top: -50%;
	left: 50%;
	margin: -15em 0 0 -15em;
	background-color: #fff;
	z-index: 10;
}

.modal-win-on.d3cms-repository {
	-webkit-transform: scale(.9);
	-webkit-filter: blur(1px);
}

.modal-win-on.modal-win {
	top: 50%;
}

.modal-win-on.modal-win::before {
	z-index: 5;
}
*/