/*  =======================================================

		Table of content

			* Imports

	  		* Matrix

	  		* Sprite

			* Icons position

	======================================================= */






/*  =======================================================

		Imports

	======================================================= */

@import '../variables/variables-layout';
@import '../variables/variables-skin';







/*  =======================================================

		Matrix

	======================================================= */






/*  =======================================================

		Sprite

	======================================================= */

/* Common style for all versions */
.icon::before {
	content: "";
	background-image: url("../img/icons/sprite.svg");
	background-repeat: no-repeat;
}






/*  =======================================================

		Icons position

	======================================================= */