
//   /$$$$$$                                               /$$              
//  |_  $$_/                                              | $$              
//    | $$   /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$$
//    | $$  | $$_  $$_  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$_____/
//    | $$  | $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    |  $$$$$$ 
//    | $$  | $$ | $$ | $$| $$  | $$| $$  | $$| $$        | $$ /$$ \____  $$
//   /$$$$$$| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/ /$$$$$$$/
//  |______/|__/ |__/ |__/| $$____/  \______/ |__/         \___/  |_______/ 
//                        | $$                                              
//                        | $$                                              
//                        |__/                                              

@import '../../variables/variables-layout';
@import '../../variables/variables-theme';






//   /$$$$$$$$                                   /$$             /$$                  
//  |__  $$__/                                  | $$            | $$                  
//     | $$     /$$$$$$  /$$$$$$/$$$$   /$$$$$$ | $$  /$$$$$$  /$$$$$$    /$$$$$$     
//     | $$    /$$__  $$| $$_  $$_  $$ /$$__  $$| $$ |____  $$|_  $$_/   /$$__  $$    
//     | $$   | $$$$$$$$| $$ \ $$ \ $$| $$  \ $$| $$  /$$$$$$$  | $$    | $$$$$$$$    
//     | $$   | $$_____/| $$ | $$ | $$| $$  | $$| $$ /$$__  $$  | $$ /$$| $$_____/    
//     | $$   |  $$$$$$$| $$ | $$ | $$| $$$$$$$/| $$|  $$$$$$$  |  $$$$/|  $$$$$$$    
//     |__/    \_______/|__/ |__/ |__/| $$____/ |__/ \_______/   \___/   \_______/    
//                                    | $$                                            
//                                    | $$                                            
//                                    |__/                                            

/*

This mixin accepts infinite arguments and prefix those into the appropriate declinations.
The arguments are to be passed with the same exact syntax as if you were writing a transition yourself.

*/

@mixin transition-template($args...) {
	-webkit-transform: $args;
		-ms-transform: $args;
			transform: $args;
}