
//   /$$$$$$                                               /$$              
//  |_  $$_/                                              | $$              
//    | $$   /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$$
//    | $$  | $$_  $$_  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$_____/
//    | $$  | $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    |  $$$$$$ 
//    | $$  | $$ | $$ | $$| $$  | $$| $$  | $$| $$        | $$ /$$ \____  $$
//   /$$$$$$| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/ /$$$$$$$/
//  |______/|__/ |__/ |__/| $$____/  \______/ |__/         \___/  |_______/ 
//                        | $$                                              
//                        | $$                                              
//                        |__/                                              

@import 'variables/_variables-layout';
@import 'variables/_variables-theme';





/*  ========================================================

		Reset

	======================================================== */
/* to be reviewd
fieldset {
	padding: 1em;
}

legend {
	padding: 0 .5em;
}
 
.form--row {
	margin-top: 1em;
}

.form--row:first-child {
	margin-top: 0;
}

[class^="form--id"],
[class^="form--pw"] {
	display: inline-block;
	background: green;
}

.form--id-label,
.form--pw-label {
	min-width: 5em;
}

.form--id-input,
.form--pw-input {
	min-width: 20em;
}

.form--textarea-label {
	vertical-align: top;
}

.form--button-disabled {
	opacity: 0.5;
	cursor: default;
}
*/