
//   /$$$$$$                                               /$$              
//  |_  $$_/                                              | $$              
//    | $$   /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$$
//    | $$  | $$_  $$_  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$_____/
//    | $$  | $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    |  $$$$$$ 
//    | $$  | $$ | $$ | $$| $$  | $$| $$  | $$| $$        | $$ /$$ \____  $$
//   /$$$$$$| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/ /$$$$$$$/
//  |______/|__/ |__/ |__/| $$____/  \______/ |__/         \___/  |_______/ 
//                        | $$                                              
//                        | $$                                              
//                        |__/                                              

@import 'variables/_variables-layout';
@import 'variables/_variables-theme';





/* Horizontal */
%horizontal-list > li {
	display: inline-block;
}

/* Last item right floated */
%last-item-right-list > li:last-child {
	float: right;
}

/* Breadcrumb */
%breadcrumb-list > li {
	margin-left: .5em;
}

%breadcrumb-list > li::before {
	float: left;
}

%breadcrumb-list > li:first-child {
	margin-left: 0;
}

%breadcrumb-list > li:first-child::before {
	content: "//";
}

%breadcrumb-list > li:nth-child(n+2)::before {
	content: "/";
}

/* Dashboard */
%dashboard-list > li {
	width: 32%;
	height: 0;
	padding-bottom: 50%;
	margin: 0 0 1% 1%;
	float: left;
	background-color: red;
}

%dashboard-list > li:nth-child(3n+1) {
	margin: 0;
}