
//   /$$$$$$                                               /$$              
//  |_  $$_/                                              | $$              
//    | $$   /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$$
//    | $$  | $$_  $$_  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$_____/
//    | $$  | $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    |  $$$$$$ 
//    | $$  | $$ | $$ | $$| $$  | $$| $$  | $$| $$        | $$ /$$ \____  $$
//   /$$$$$$| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/ /$$$$$$$/
//  |______/|__/ |__/ |__/| $$____/  \______/ |__/         \___/  |_______/ 
//                        | $$                                              
//                        | $$                                              
//                        |__/                                              

@import 'variables/_variables-layout';
@import 'variables/_variables-theme';





/*  ========================================================

		Tables

	=======================================================  */

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 1em;
}

table:first-child {
	margin-top: 0;
}

td,
th {
	border-width: 1px; 
	border-style: solid;
	border-color: #111;
}