/*  =======================================================

		Table of Content

		* Media queries

	======================================================= */





/*  =======================================================

		Media queries

	======================================================= */

$mq-tablet__min: 30rem;				/* 480px */
$mq-tablet__max: 60rem;				/* 960px */

$mq-desktop__min: 60.0625rem;		/* 961px */
$mq-desktop__max: 80rem;			/* 1280px */

$mq-big-screen__min: 80.0625rem;	/* 1281px */