
//   /$$      /$$                 /$$ /$$                                                         /$$                    
//  | $$$    /$$$                | $$|__/                                                        |__/                    
//  | $$$$  /$$$$  /$$$$$$   /$$$$$$$ /$$  /$$$$$$         /$$$$$$  /$$   /$$  /$$$$$$   /$$$$$$  /$$  /$$$$$$   /$$$$$$$
//  | $$ $$/$$ $$ /$$__  $$ /$$__  $$| $$ |____  $$       /$$__  $$| $$  | $$ /$$__  $$ /$$__  $$| $$ /$$__  $$ /$$_____/
//  | $$  $$$| $$| $$$$$$$$| $$  | $$| $$  /$$$$$$$      | $$  \ $$| $$  | $$| $$$$$$$$| $$  \__/| $$| $$$$$$$$|  $$$$$$ 
//  | $$\  $ | $$| $$_____/| $$  | $$| $$ /$$__  $$      | $$  | $$| $$  | $$| $$_____/| $$      | $$| $$_____/ \____  $$
//  | $$ \/  | $$|  $$$$$$$|  $$$$$$$| $$|  $$$$$$$      |  $$$$$$$|  $$$$$$/|  $$$$$$$| $$      | $$|  $$$$$$$ /$$$$$$$/
//  |__/     |__/ \_______/ \_______/|__/ \_______/       \____  $$ \______/  \_______/|__/      |__/ \_______/|_______/ 
//                                                             | $$                                                      
//                                                             | $$                                                      
//                                                             |__/                                                      

$mq-tablet__min:		30rem;				/* 480px */
$mq-tablet__max:		60rem;				/* 960px */

$mq-desktop__min:		60.0625rem;			/* 961px */
$mq-desktop__max:		80rem;				/* 1280px */

$mq-big-screen__min:	80.0625rem;			/* 1281px */