/*  =======================================================

		Table of Content

			* Typography

	======================================================= */






/*  =======================================================

		Typography

	=======================================================  */

/* Vertical ryhthm */
/* Source: 
	- http://www.smashingmagazine.com/2012/12/17/css-baseline-the-good-the-bad-and-the-ugly/
	- http://24ways.org/2006/compose-to-a-vertical-rhythm/
 */

$font-size: 62.5%;  /* 62.5% = 1em = 10px */

$line-height: 1.4;

$font-stacking: sans-serif;

$body-copy--color: #111;

$h1--font-size: 2.5em;
$h2--font-size: 1.5em;
$h3--font-size: 1.3125em;
$h4--font-size: 1.125em;
$h5--font-size: 1em;
$h6--font-size: 1em;

$p--font-size: 1em;

$q--font-size: 1em;