/* ============================================================

    Table of Content
        * Main layout
          - Header
          - Tree
          - Working area
          - Footer

        * Tree
          - Generic style
          - Item arrow
          - Item navigation trigger

        * Icons

        * Helpers

============================================================ */






/*  ==========================================================

      Main layout

    ======================================================  */

/* Header */
$header-height: 3em;
$header-padding: 0 1em 0 0;

/* Tree */
$sidebar-width: 20%;

/* Working Area */
$working-area-width: 100% - $sidebar-width;

$working-area-details-width: 70%;
$working-area-drawer-width: 100% - $working-area-details-width;

$working-area-details-height: 70%;
$working-area-drawer-height: 100% - $working-area-details-height;

/* Footer */
$statusbar-height: 3em;
$statusbar-padding: 0 1em;





/*  ==========================================================

      Header

    ======================================================  */   

$main-nav-link-horizontal-padding: 1em;







/*  ==========================================================

      Sidebar area

    ======================================================  */  

$sidebar-resize-handle-width: 1em;






/*  ==========================================================

      Tree

    ======================================================  */   

/* Generic style */
$tree-padding: .5rem;
$tree-indentation: 1em;
$tree--label-left-padding: 2em;
$tree--label-bottom-padding: .5em;

/* Item arrow */
$tree--label-arrow-width: .3em;
$tree--label-arrow-top-offset: .5em;
$tree--label-arrow-right-offset: $tree--label-left-padding;

/* Item navigation trigger */
$tree--item-actions-trigger-width: 2em;
$tree--item-actions-trigger-height: 2em;
$tree--item-actions-trigger-top-offset: 1em;

$tree--item-actions-list-padding: .5em 1em;
$tree--item-actions-list-li-margin: .5em;





/*  ==========================================================

      Working area

    ======================================================  */   

$working-area-left-padding: .1rem;







/*  ==========================================================

      Icons

    ======================================================  */   

/* Label icon */
$tree--label-icon-width: 1.2em;
$tree--label-icon-height:  1.2em;
$tree--label-icon-top-offset: .3em; 

$tree--root-icon-left-offset: .9em;
$tree--folder-icon-left-offset: 1em;
$tree--page-icon-left-offset: 1.1em;






/*  ==========================================================

      Helpers

    ======================================================  */   

/* Triangles */
$triangle-size: .6em;