/*  =======================================================

		Table of content

	  		* Matrix

	  		* Sprite

			* Icons position

	======================================================= */






/*  =======================================================

		Matrix

	======================================================= */






/*  =======================================================

		Sprite

	======================================================= */

/* Common style for all versions */
.icon::before {
	content: "";
	background-image: url("../img/icons/sprite.svg");
	background-repeat: no-repeat;
}






/*  =======================================================

		Icons position

	======================================================= */