/*  =======================================================

		Table of content

			* Font declaration
				- Base declaration
				- Color declaration
			
			* @Font-face with style linking
				- Brief
				- Drawbacks

			* @Font-face with style linking and unique font name
				- Brief
				- Drawbacks
				- Fallback management

			* Font-size increments

			* Typographically correct quotes

	======================================================= */





/*  =======================================================

		Imports

	=======================================================  */

@import '_variables-skin';






/*  =======================================================

		Base font declaration

	=======================================================  */

/* Confused on what to use between px, em and rem? */
/* Read on: http://j.eremy.net/confused-about-rem-and-em/ */
html {
	font-size: $font-size; /* 100% = 1em = 16px */
	line-height: $line-height;
	font-family: $font-stacking;
	color: $body-copy--color;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			hyphens: auto;

	-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word; /* non standard definition for webkit */

  /* The Hyphenate-Before or -after sets a minimum number of characters before or after the hyphenation. 
  /* And hyphenate-lines how many lines can be hyphenated in a row. */
	-webkit-hyphenate-before: 2;
	 -webkit-hyphenate-after: 3;
			 hyphenate-lines: 3;
}

/* Setting font size for headings, paragraphs, blockquotes */
h1 {
	font-size: $h1--font-size;
}

h2 {
	font-size: $h2--font-size;
}

h3 {
	font-size: $h3--font-size;
}

h4 {
	font-size: $h4--font-size;
}

h5 {
	font-size: $h5--font-size;
}

h6 {
	font-size: $h6--font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $body-copy--color;
}





/*  =======================================================

		@Font-face with style linking

	=======================================================  */

/*  Brief 
		This technique consists in giving the the same font-family name multiple times,
		setting the weights and styles in each @font-face declaration to match the weight
		and style of the Web font file being accessed.
*/

/*	Drawbacks
		- crashes iPad1 and BlackBerry 9900
		- compatible up to IE7
		- if you use more than four weights and styles on the website, 
			IE 7 and 8 will convert all light and medium weights to normal,
			and all black and heavy weights to bold.
*/

/*  Sources 
	  - http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/
*/

@font-face {
	font-family: 'Webfont';
		src: url('webfont-italic.eot');
		src: url('webfont-italic.eot?#iefix') format('embedded-opentype'),
			 url('webfont-italic.woff') format('woff'),
			 url('webfont-italic.ttf') format('truetype'),
			 url('webfont-italic.svg#WebfontItalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Webfont';
		src: url('webfont-bold.eot');
		src: url('webfont-bold.eot?#iefix') format('embedded-opentype'),
			 url('webfont-bold.woff') format('woff'),
			 url('webfont-bold.ttf') format('truetype'),
			 url('webfont-bold.svg#WebfontBold') format('svg');
		font-weight: 700;
		font-style: normal;
}

/* Additional classes for style linking */
.font-italic {
	font-family: 'Webfont', arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}

.font-700 {
	font-family: 'Webfont', arial, sans-serif;
	font-weight: 700;
	font-style: normal;
}





/*  =======================================================

		@Font-face with style linking and unique font names

	=======================================================  */

/*  Brief 
		This technique consists in giving unique font-family names, 
		setting the weights and styles in each @font-face declaration to match the weight
		and style of the Web font file being accessed.
		This technique requires a more complex <strong> and <em> fallbacks,
		but do not crash iPad1 and BlackBerry 9900
		and does not present the IE7/8 bug with more the 4 weights/styles combinations.
*/

/*	Drawbacks
		- compatible up to IE7 with no weights/styles limitation
		- complex <strong> and <em> fallbacks
*/

/*  Sources
	  - http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/
*/

@font-face {
	font-family: 'Webfont';
		src: url('webfont-normal.eot');
		src: url('webfont-normal.eot?#iefix') format('embedded-opentype'),
			 url('webfont-normal.woff') format('woff'),
			 url('webfont-normal.ttf') format('truetype'),
			 url('webfont-normal.svg#UbuntuNormal') format('svg');
		font-weight: 400;
		font-style: normal;
	}

	
@font-face {
	font-family: 'Webfont-Italic';
		src: url('webfont-italic.eot');
		src: url('webfont-italic.eot?#iefix') format('embedded-opentype'),
			 url('webfont-italic.woff') format('woff'),
			 url('webfont-italic.ttf') format('truetype'),
			 url('webfont-italic.svg#UbuntuItalic') format('svg');
		font-weight: 400;
		font-style: italic;
}

@font-face {
	font-family: 'WebfontBold';
		src: url('webfont-bold.eot');
		src: url('webfont-bold.eot?#iefix') format('embedded-opentype'),
			 url('webfont-bold.woff') format('woff'),
			 url('webfont-bold.ttf') format('truetype'),
			 url('webfont-bold.svg#WebfontBold') format('svg');
		font-weight: 700;
		font-style: normal;
	}

@font-face {
	font-family: 'WebfontBoldItalic';
		src: url('webfont-bold-italic.eot');
		src: url('webfont-bold-italic.eot?#iefix') format('embedded-opentype'),
			 url('webfont-bold-italic.woff') format('woff'),
			 url('webfont-bold-italic.ttf') format('truetype'),
			 url('webfont-bold-italic.svg#WebfontBoldItalic') format('svg');
		font-weight: 700;
		font-style: italic;
}


/* Additional classes for style linking */
.font-400 {
	font-family: 'Webfont', arial, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.font-400-italic {
	font-family: 'WebfontItalic', arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}

.font-700 {
	font-family: 'WebfontBold', arial, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.font-700-italic {
	font-family: 'WebfontBoldItalic', arial, sans-serif;
	font-weight: 700;
	font-style: italic;
}

/* Fallbacks management */
/* <em> on normal font */
.font-400 em,
em .font-400, 
em.font-400 {
	font-family: 'WebfontItalic', arial, sans-serif;
}

/* <em> on italic */
.font-400-italic em,
em .font-400-italic,
em.font-400-italic, {
	font-style: normal;
}

/* <em> on bold */
.font-700 em,
em .font-700,
em.font-700 {
	font-family: 'WebfontBoldItalic', arial, sans-serif;
}

/* <strong> on normal font */
.font-400 strong,
strong .font-400, 
strong.font-400 {
	font-family: 'WebfontBold', arial, sans-serif;
}

/* <strong> on bold */
.font-700 strong,
strong .font-700,
strong.font-700 {
	font-weight: 700;
}

/* <strong> on italic */
.font-400-italic strong,
strong .font-400-italic,
strong.font-400-italic {
	font-family: 'WebfontBoldItalic', arial, sans-serif;
}




/*  =======================================================

		Font-size increments  

	=======================================================  */

/* Typography increment to keep the best word per line ratio */
/* Source: http://trentwalton.com/2012/06/19/fluid-type/ */

/* Tablets plus base desktops/laptops */
@media (min-width : 30rem) and (max-width : 60rem) {
	body {
		font-size: 1.1em;
	}
}

/* Desktops */
@media (min-width : 60.0625rem) and (max-width : 80rem) {
	body {
		font-size: 1.25em;
	}
}


/* Big screen monitors/TVs */
@media (min-width : 80.0625rem) {
	body {
		font-size: 1.5em;
	}
}





/* ============================================================

   Typographically correct blockquotes

============================================================ */

/* Based on font-face declaration blockquote pseudo element may need a different declaration (see above) */
blockquote::before,
blockquote::after {
	font-style: bold;
}

blockquote::before {
	content: "\201C";
}

blockquote::after {
	content: "\201D";
}

/* Quotes internationalization */
:lang(af) {
	quotes: '\201E' '\201D' '\201A' '\2019';
}

:lang(bg) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(cs) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(da) {
	quotes: '\00BB' '\00AB' '\203A' '\2039';
}

:lang(de) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(el) {
	quotes: '\00AB' '\00BB' '\2039' '\203A';
}

:lang(en-GB) {
	quotes: '\2018' '\2019' '\201C' '\201D';
}

:lang(es) {
	quotes: '\00AB' '\00BB' '\2039' '\203A';
}

:lang(fi) {
	quotes: '\201D' '\201D' '\2019' '\2019';
}

:lang(fr) {
	quotes: '\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a';
}

:lang(hr) {
	quotes: '\00BB' '\00AB' '\203A' '\2039';
}

:lang(is) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(lt) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(nl) {
	quotes: '\201E' '\201D' '\201A' '\2019';
}

:lang(pl) {
	quotes: '\201E' '\201D' '\201A' '\2019';
}

:lang(ro) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(sk) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(sq) {
	quotes: '\00AB' '\00BB' '\2039' '\203A';
}

:lang(sr) {
	quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(sv) {
	quotes: '\201D' '\201D' '\2019' '\2019';
}

:lang(tr) {
	quotes: '\00AB' '\00BB' '\2039' '\203A';
}

/* Russian quote internationalization break the css */
/* I have no idea why, need investigation */
/*
:lang(ru){
	quotes: '\00AB' '\00BB' '\201E' '\201C';
}​
*/