
//   /$$$$$$                                               /$$              
//  |_  $$_/                                              | $$              
//    | $$   /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$$
//    | $$  | $$_  $$_  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$_____/
//    | $$  | $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    |  $$$$$$ 
//    | $$  | $$ | $$ | $$| $$  | $$| $$  | $$| $$        | $$ /$$ \____  $$
//   /$$$$$$| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/ /$$$$$$$/
//  |______/|__/ |__/ |__/| $$____/  \______/ |__/         \___/  |_______/ 
//                        | $$                                              
//                        | $$                                              
//                        |__/                                              

@import '../variables/variables-layout';
@import '../variables/variables-theme';
@import '../components/_components';






//   /$$$$$$$$                       /$$              
//  | $$_____/                      | $$              
//  | $$        /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$$
//  | $$$$$    /$$__  $$| $$__  $$|_  $$_/   /$$_____/
//  | $$__/   | $$  \ $$| $$  \ $$  | $$    |  $$$$$$ 
//  | $$      | $$  | $$| $$  | $$  | $$ /$$ \____  $$
//  | $$      |  $$$$$$/| $$  | $$  |  $$$$/ /$$$$$$$/
//  |__/       \______/ |__/  |__/   \___/  |_______/ 
//                                                    
//                                                    
//                                                    

//   /$$$$$$$                      /$$                                 /$$     /$$                    
//  | $$__  $$                    | $$                                | $$    |__/                    
//  | $$  \ $$  /$$$$$$   /$$$$$$$| $$  /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$  /$$$$$$  /$$$$$$$ 
//  | $$  | $$ /$$__  $$ /$$_____/| $$ |____  $$ /$$__  $$ |____  $$|_  $$_/  | $$ /$$__  $$| $$__  $$
//  | $$  | $$| $$$$$$$$| $$      | $$  /$$$$$$$| $$  \__/  /$$$$$$$  | $$    | $$| $$  \ $$| $$  \ $$
//  | $$  | $$| $$_____/| $$      | $$ /$$__  $$| $$       /$$__  $$  | $$ /$$| $$| $$  | $$| $$  | $$
//  | $$$$$$$/|  $$$$$$$|  $$$$$$$| $$|  $$$$$$$| $$      |  $$$$$$$  |  $$$$/| $$|  $$$$$$/| $$  | $$
//  |_______/  \_______/ \_______/|__/ \_______/|__/       \_______/   \___/  |__/ \______/ |__/  |__/
//                                                                                                    
//                                                                                                    
//                                                                                                    

/* 

Confused on what to use between px, em and rem?
Read on: http://j.eremy.net/confused-about-rem-and-em/ */

html {
	font-size: $font-size;
	line-height: $line-height;
	font-family: $font-stacking;
	color: $body-copy--color;
}

/* Size */
h1 {
	font-size: $h1--font-size;
}

h2 {
	font-size: $h2--font-size;
}

h3 {
	font-size: $h3--font-size;
}

h4 {
	font-size: $h4--font-size;
}

h5 {
	font-size: $h5--font-size;
}

h6 {
	font-size: $h6--font-size;
}

p {
	font-size: $p--font-size;
}

q {
	font-size: $p--font-size;
}

/* Color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $body-copy--color;
}