
//   /$$$$$$                                               /$$              
//  |_  $$_/                                              | $$              
//    | $$   /$$$$$$/$$$$   /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$$
//    | $$  | $$_  $$_  $$ /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/   /$$_____/
//    | $$  | $$ \ $$ \ $$| $$  \ $$| $$  \ $$| $$  \__/  | $$    |  $$$$$$ 
//    | $$  | $$ | $$ | $$| $$  | $$| $$  | $$| $$        | $$ /$$ \____  $$
//   /$$$$$$| $$ | $$ | $$| $$$$$$$/|  $$$$$$/| $$        |  $$$$/ /$$$$$$$/
//  |______/|__/ |__/ |__/| $$____/  \______/ |__/         \___/  |_______/ 
//                        | $$                                              
//                        | $$                                              
//                        |__/                                              

@import '../variables/variables-layout';
@import '../variables/variables-theme';






//   /$$$$$$                                                                             /$$    
//  |_  $$_/                                                                            | $$    
//    | $$   /$$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$  /$$$$$$/$$$$   /$$$$$$  /$$$$$$$  /$$$$$$  
//    | $$  | $$__  $$ /$$_____/ /$$__  $$ /$$__  $$| $$_  $$_  $$ /$$__  $$| $$__  $$|_  $$_/  
//    | $$  | $$  \ $$| $$      | $$  \__/| $$$$$$$$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  | $$    
//    | $$  | $$  | $$| $$      | $$      | $$_____/| $$ | $$ | $$| $$_____/| $$  | $$  | $$ /$$
//   /$$$$$$| $$  | $$|  $$$$$$$| $$      |  $$$$$$$| $$ | $$ | $$|  $$$$$$$| $$  | $$  |  $$$$/
//  |______/|__/  |__/ \_______/|__/       \_______/|__/ |__/ |__/ \_______/|__/  |__/   \___/  
//                                                                                              
//                                                                                              
//                                                                                              

/* Typography increment to keep the best word per line ratio */
/* Source: http://trentwalton.com/2012/06/19/fluid-type/ */

/* Tablets plus base desktops/laptops */
@media (min-width : $mq-tablet__min) and (max-width : $mq-tablet__max) {
	body {
		font-size: 1.1em;
	}
}

/* Desktops */
@media (min-width : $mq-desktop__min) and (max-width : $mq-desktop__max) {
	body {
		font-size: 1.25em;
	}
}


/* Big screen monitors/TVs */
@media (min-width : $mq-big-screen__min) {
	body {
		font-size: 1.5em;
	}
}