/*  =======================================================
	
		Table of content

			* Imports

			* Tables
	  
	======================================================= */






/*  =======================================================

		Imports

	=======================================================  */

@import '../variables';






/*  ========================================================

      Tables

    =======================================================  */

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 1em;
}

table:first-child {
	margin-top: 0;
}

td,
th {
	border-width: 1px; 
	border-style: solid;
	border-color: #111;
}